.container__match-edit {
  padding-top: 41px;
  padding-bottom: 106px;
}

.match-edit__title {
  color: #fff;
  font: 700 16px/1 'gilroy';

  display: flex;
  align-items: center;

  margin-bottom: 48px;
}

.match-edit__title-icon {
  color: #8424fe;
  margin-right: 16px;
}

.match-edit__form {

}

.match-edit__form-top {
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: 50% 50%;

  margin-bottom: 78px;
}

.match-edit__form-field {
  margin-bottom: 36px;
}

.form-field__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font: 400 16px/1 'gilroy';

  &.form-field__title-bold {
    font-weight: 600;
  }
}

.form-field__chosen-text {
  display: block;
  color: #fff;
  font: 400 16px/1 'gilroy';
  padding-top: 22px;
}

.form-field__input-wrapper {
  position: relative;

  height: 40px;
  margin-top: 18px;

  &:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background: #8223FA;
    left: 16px;
    bottom: 12px;
  }
}

.form-field__input-upload-wrapper {
  display: block;
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 1px solid #8223FA;
  cursor: pointer;

  &:before, &:after {
    position: absolute;
    content: '';
    width: 43px;
    height: 1px;
    background: #8223FA;

    left: calc(50% - 43px / 2);
    top: 50%;
  }

  &:after {
    transform: rotate(90deg);
  }
}

.form-field__input-uploaded-wrapper {
  position: relative;
  height: 128px;
  width: 128px;
}

.form-field__input-uploaded-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.form-field__input-upload {
  display: none;
}

.form-field__input {
  padding-left: 28px;

  border: 2px solid #8223FA;
  background: rgba(22, 0, 48, 0.6);

  height: 100%;
  width: 100%;
  color: #fff;
  font: 400 16px/1 'gilroy';

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form-field--game, .form-field--bid {
  max-width: 450px;
  margin-right: 50px;
}

.form-field--bo {
  max-width: 100px;
  margin-right: 20px;
}

.form-field--password {
  max-width: 300px;
}

.form-field--team-size {
  max-width: 150px;
  margin-right: 20px;

  .filters__options {
    margin-top: 30px;
  }

  .filters__option {
    font: 400 16px/1 'gilroy';
    color: rgba(255, 255, 255, 0.3);
    margin-right: 20px;

    &:after {
      right: -14px;
    }

    &.active {
      color: #fff;
      font-weight: 700;
    }
  }
}

.form-field__dropdown {
  margin-top: 18px;

  .dropdown__header-icon {
    transform: rotate(0);
  }
  .dropdown__content-item {
    font-size: 16px;
  }
}

.form-field__dropdown-header {
  background: rgba(22, 0, 48, 0.6);
  border: 2px solid #8223FA;
  height: 40px;
  width: 100%;
  padding: 11px 14px 11px 17px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field__dropdown-content {
  top: 40px;
  width: 100%;

  &:after {
    left: 0;
    width: 100%;
  }
}

.form-field__title-text {
  display: flex;
  align-items: center;
}

.form-field__title-icon {
  margin-left: 10px;
}

.block--divider {
  height: 3px;
  width: 100%;

  background: url("../images/BlockDivider.svg");
}

.match-edit__form-middle {
  display: flex;
  gap: 86px;

  margin-top: 46px;
  margin-bottom: 58px;
}

.match-edit__form-bottom-selects {
  min-width: 244px;
}

.form-field__select-map-item-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 33px;

  @media screen and (max-width: 1200px) {
    gap: 30px;
  }
}

.form-field__select-map-item {
  margin-top: 25px;
}

.select-map-item__wrapper {
  cursor: pointer;

  &.select-map-item__wrapper-chosen {
    cursor: default;

    .select-map-item__checkbox {
      border: none;

      &:before {
        top: -123px;
      }

      &:after {
        display: none;
      }
    }
  }

  &.select-map-item__wrapper-banned {
    cursor: default;

    .select-map-item__preview-wrapper {
      position: relative;
      &:before {
        content: 'Banned';
        position: absolute;
        background: rgba(82, 66, 102, 0.7);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        color: #fff;
        font: 400 16px/1 "gilroy";
      }
    }

    .select-map-item__checkbox {
      display: none;
    }
  }
}

.select-map-item__preview {
  display: block;
  width: 190px;
  height: 100px;

  margin-bottom: 19px;
}

.select-map-item__name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  font: 400 16px/1 'gilroy';
}

.select-map-item__name-text {
  width: 165px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-map-item__checkbox {
  position: relative;
  appearance: none;
  border: 1px solid #8223FA;
  height: 17px;
  width: 17px;

  &:after {
    position: absolute;
    left: 3px;
    top: -2.5px;
  }

  &:before {
    position: absolute;
    width: 188px;
    height: 99px;
    border: 2px solid #8223FA;
    left: -172px;
    top: -124px;
  }

  &:checked:after {
    content: url("../images/CheckboxIcon.svg");
  }

  &:checked:before {
    content: '';
  }
}

.match-edit__form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 78px;
}

.form-field__socials {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.form-field__socials-title {
  color: #fff;
  font: 400 16px/1 'gilroy';

  margin-right: 33px;
}

.form-field__social {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.form-field__social-label {
  cursor: pointer;
  color: #524266;
}

.form-field__social-input {
  display: none;

  &:checked + .form-field__social-label {
    color: #fff;
  }
}
