* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000, #1E0040 500px, #1E0040 90%, #000000 100%);;
  display: flex;
  flex-direction: column;

  min-width: 992px;
  overflow: auto;
}

.main {
  flex: 1;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1222px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 1200px) {
    min-width: 992px;
  }
}

.ellipse-icon {
  &.green {
    color: #22B21F;
  }
  &.red {
    color: #F12619;
  }
}

.tooltip__wrapper {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
      pointer-events: unset;
      transition: all .3s ease;
    }
  }
}

.tooltip__arrow {
  position: relative;
  color: #fff;
  margin-left: 13px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  left: 5px;
  top: 50%;
  min-width: 280px;
  height: fit-content;
  width: fit-content;
  background-position: 20px -21px;
  background-repeat: no-repeat;
  padding: 15px 23px 15px 75px;
  background-size: 100% calc(100% + 42px);

  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;

  cursor: default;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &.steam__tooltip {
    min-height: 85px;
    background-image: url('../images/TooltipBackgroundTreeLines.png');
  }
  &.nier__tooltip {
    min-height: 40px;
    background-image: url('../images/TooltipBackgroundTwoLines.png');
    background-position: -10px -21px;
    padding: 15px 23px 15px 40px;
  }
}

.tooltip-item {
  display: flex;
  gap: 8px;
  font: 400 12px/1 'gilroy';
}

.tooltip-item-key {
  font-weight: 700;
}

.tooltip-item-copy {
  cursor: pointer;
}

.central-block__top-border, .central-block__bottom-border {
  width: 100%;
}

.primary__button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  border-radius: 5px;
  background: #8424FE;
  font: 400 16px/1 'gilroy';

  height: 40px;
  padding: 0 33px;
}

.primary__button-icon {
  margin-right: 14px;
}

.custom-scroll-wrapper, .custom-scroll-wrapper--tab {
  position: relative;
}
.ss-container .ss-scroll {
  position: absolute;
  right: 0 !important;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 6px solid #701ED9;
  opacity: 1;
}
.custom-scroll-border {
  z-index: 10;
  position: absolute;
  right: 9px;
  top: 0;
  background: linear-gradient(0deg, rgba(99, 46, 220, 1) 60%, rgba(32, 6, 62, 1) 120%);
  height: 100%;
  width: 2px;
}

.table__wrapper {
  .ss-container .ss-scroll {
    right: 9px !important;
  }
  .custom-scroll-border {
    right: 18px;
  }
}

.mode-selector-wrapper {
  display: flex;
  align-items: center;
}

.mode-selector__icon {
  color: #8223FA;
  margin-right: 10px;
}

.mode-selector__title {
  color: #fff;
  font: 400 16px/1 'gilroy';
  margin-right: 25px;
}

.container--page-with-table {
  padding-top: 40px;
  padding-bottom: 50px;
}

.page__filters {
  display: flex;
  align-items: center;

  margin-bottom: 44px;
}

body {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(/src/images/MainBackgroundStatic.png);
    background-size: 100% auto;
  }
}
