.container.profile__container.profile__container--tournaments {
  .profile__socials {
    margin-bottom: 33px;
  }

  .about-list__item {
    align-items: unset;
    flex-direction: column;
  }

  .about-list__item-key {
    margin-bottom: 10px;
  }

  .profile__currency-value {
    margin-left: 8px;

    &.green {
      color: #10AA1B;
    }

    &.red {
      color: #F12619;
    }
  }

  .info-center__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-center__member {
    width: 25px;
    height: 25px;
    display: block;
  }

  .info-center__currency-wrapper {
    display: flex;
    align-items: center;
  }

  .info-center__currency {
    margin-left: 7px;
    width: 16px;
    height: 16px;
  }

  .statistic-button__image.statistic-button__image--member {
    width: 18px;
    height: auto;
    margin-right: 3px;
    margin-left: -4px;
  }
}

.member-item__switcher {
  color: #fff;
  position: relative;
  font: 400 16px/1 'gilroy';
  margin-right: 14px;

  &:last-child {
    margin-right: 0;

    &:after {
      content: '';
    }
  }

  &:after {
    content: '/';
    position: absolute;
    left: calc(100% + 3px);
  }
}

.statistic-item__tournaments-cup-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.statistic-item__tournaments-cup {
  display: flex;
  align-items: center;
  gap: 7px;
}

.primary__button.button--info-left-tournaments {
  max-width: 210px;
  font-size: 14px;
  white-space: nowrap;
}

.tournaments-info {
  padding: 39px 0 80px;

  .block--divider {
    margin: 47px 0 34px;
  }
}

.tournaments-info__title {
  color: #fff;
  font: 600 20px/1 'gilroy';

  margin-bottom: 38px;
}

.tournaments-info__text-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.tournaments-info__text-left, .tournaments-info__text-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 45%;
}

.tournaments-info__text {
  color: #fff;
  font: 400 16px/19px 'gilroy';
}

.tournaments-info__text-title {
  display: block;
  font-weight: 600;
  margin-bottom: 19px;
}

.tournaments-info__text-link {
  color: #701ED9;
}

.tournaments-teams {
  padding: 49px 0 61px;
}

.table--tournaments-teams {

  .row__col-currency {
    width: 12px;
    height: 12px;
    margin-left: 9px;
  }
}

.maps-list {
  padding: 49px 0 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.maps-list__item {
  display: flex;
  flex-direction: column;
  font: 700 16px/1 'gilroy';
  color: #fff;

  img {
    height: auto;
    width: 260px;
    margin-bottom: 22px;
  }
}

.specification {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 50px 0 80px;
}

.specification__item {
  display: flex;
  gap: 22px;
  font: 400 16px/1 'gilroy';
  color: #fff;
}

.specification__item-number {
  font-weight: 700;
}

.tournaments-match {
  padding: 49px 0 37px;
}

.tournaments-bracket {
  padding: 43px 0 95px;
  overflow: hidden;
}

.tournaments-bracket__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 19px;
  margin-bottom: 41px;

  &:before {
    inset: 0;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;

    background: linear-gradient(
                    276.06deg,
                    #8223FA 0%,
                    #1E1856 25%,
                    #B51AE6 50%,
                    #1E1856 75%,
                    #8223FA 100%
    );
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 0,
                    1px 1px,
                    1px calc(100% - 1px),
                    calc(100% - 1px) calc(100% - 1px),
                    calc(100% - 1px) 1px,
                    1px 1px
    );
  }
}

.tournaments-bracket__header-filter {
  position: relative;
}

.header-filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 215px;
}

.header-filter__info {
}

.header-filter__value {
  color: #fff;
  font: 700 16px/1 "gilroy";
  margin-bottom: 5px;
}

.header-filter__date {
  color: #9A9A9A;
  font: 400 12px/1 "gilroy";
}

.header-filter__arrow {
  color: #fff;
}

.header-filter__content {
  left: -17px;
  top: calc(100% + 13px);
  width: calc(100% + 17px);

  &:after {
    width: calc(100% + 1px);
    background: linear-gradient(
                    276.06deg,
                    #8223FA 0%,
                    #1E1856 25%,
                    #B51AE6 50%,
                    #1E1856 75%,
                    #8223FA 100%
    );
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 0,
                    1px 1px,
                    1px calc(100% - 1px),
                    calc(100% - 1px) calc(100% - 1px),
                    calc(100% - 1px) 1px,
                    1px 1px
    );
  }
}

.tournaments-bracket__header-navigation {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-navigation__left, .header-navigation__right {
  color: #fff;

  &:disabled {
    color: #9A9A9A;
    cursor: default;
  }
}

.header-navigation__left {
  transform: rotate(90deg);
}

.header-navigation__right {
  transform: rotate(-90deg);
}

.tournaments-bracket__table {
  display: flex;
  justify-content: space-between;
  gap: 76px;

  transition: all .5s ease;
}

.tournaments-bracket__table-column {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;

  padding-top: 72px;
  color: #fff;
  transition: all .5s ease;

  &:last-child {
    .table-column__item {
      &:before, &:after {
        display: none;
      }
    }
  }
}

.table-column__title {
  top: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 16px/1 "gilroy";

  width: 100%;
  height: 40px;
  border: 1px solid #691CCB;
}

.table-column__item-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  min-width: 0;
  position: relative;
}

.table-column__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  position: relative;
  padding: 37px 0;

  &:first-child {
    padding-top: 20px;

    &:before {
      content: "";
      margin: -15px 0 0;
    }

    &:after {
      content: "";
      margin: -15px 0 0;
    }

    &:nth-child(2n):after {
      top: 20px;
      bottom: 50%;
    }

    &:nth-child(2n):before {
      top: 50%;
      bottom: 50%;
      margin: 0 0 -15px;
    }
  }

  &:last-child {
    padding-bottom: 0;

    &:nth-child(2n):after {
      top: 20px;
      bottom: calc(50% - 25px);
    }

    &:nth-child(2n):before {
      top: calc(50% + 25px);
      bottom: 50%;
      margin: 0;
    }
  }

  &:before {
    content: "";
    height: 1px;
    width: 40px;
    margin: 0;

    position: absolute;
    right: -40px;
    top: calc(50% - 0.5px);

    background: #9A9A9A;
  }

  &:after {
    content: "";
    width: 1px;
    margin: 0;

    position: absolute;
    top: 50%;
    bottom: 20px;
    right: -40px;

    background: #9A9A9A;
  }

  &:nth-child(2n):after {
    top: 20px;
    bottom: 50%;
  }

  &:nth-child(2n):before {
    top: calc(50% - 0.5px);
    bottom: 50%;
    margin: 0 0 -15px;
  }
}

.table-column__item-info-wrapper {
  position: relative;

  &:before {
    content: "";
    height: 1px;
    width: 37px;
    margin: 0;

    position: absolute;
    top: 19px;
    left: -37px;

    background: #9A9A9A;
  }

  &:after {
    content: "";
    height: 1px;
    width: 37px;

    position: absolute;
    bottom: 19px;
    left: -37px;

    background: #9A9A9A;
  }
}

.table-column__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;

  font: 400 12px/1 "gilroy";
  color: #9A9A9A;

  position: absolute;
  width: 100%;
  top: -20px;
}

.table-column__item-team {
  position: relative;
  display: flex;
  align-items: center;
  font: 400 16px/1 "gilroy";

  width: 100%;
  height: 40px;
  border: 1px solid #691CCB;

  padding-left: 16px;

  &:last-child {
    margin-top: -1px;
  }

  &:before {
    content: "";
    background-color: #979797;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 3px;
    height: 38px;
  }
}

.item-team__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.item-team__name {
}

.item-team__result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 36px;
  margin-left: auto;
  border-left: 1px solid #691CCB;
  font-weight: 700;

  &.green {
    color: #22B21F;
  }

  &.red {
    color: #FF0000;
  }
}

.item-team__blank {
  display: flex;
  align-items: center;
  height: 100%;
}

.chat__wrapper {
  display: flex;
  margin: 42px 0 47px;
  position: relative;
  height: 462px;

  &:after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(
                    276.06deg,
                    #8223FA 0%,
                    #1E1856 25%,
                    #B51AE6 50%,
                    #1E1856 75%,
                    #8223FA 100%
    );
    clip-path: polygon(
                    0 20.00px,
                    20.00px 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 20.00px,
                    2px calc(20.00px + 0.83px),
                    2px calc(100% - 2px),
                    calc(100% - 2px) calc(100% - 2px),
                    calc(100% - 2px) 2px,
                    calc(20.00px + 0.83px) 2px,
                    2px calc(20.00px + 0.83px)
    );
  }

  .chat {
    width: calc(100% - 343px);
    position: relative;
  }

  .chat__messages-wrapper {
    padding: 29px 24px 36px;
    height: calc(100% - 50px);
  }

  .chat__input-wrapper {
    left: 0;
  }
}

.chat__list-wrapper {
  width: 343px;
  border-right: 2px solid #7C19B0;
  padding-bottom: 19px;
}

.chat__list {
  padding: 19px 28px 0;
}

.chat__list-date {
  color: #9A9A9A;
  font: 400 12px/1 "gilroy";
  margin-bottom: 22px;
}

.chat__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    cursor: default;

    .chat__list-item-nickname {
      font-weight: 700;
    }
  }

  &.chat__list-item--vip {
    .chat__list-item-avatar:after {
      content: "";
    }

    .chat__list-item-vip {
      display: block;
    }
  }
}

.chat__list-item-avatar {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 21px;

  &:after {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 100%;
    background: linear-gradient(276.06deg, #A87327 -11.24%, #EFD67B 38.05%, #F1D988 47.21%, #F6E3A9 64.06%, #F8E7B9 70.9%, #F6E3AC 79.51%, #F1DA8B 95.3%, #EFD67B 101.72%, #E6C970 112.53%, #CEA753 132.44%, #A87327 158.2%);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.chat__list-item-online {
  left: 0;
  top: -6px;
  position: absolute;
  color: #22B31F;
}

.chat__list-item-nickname {
  color: #fff;
  font: 400 16px/1 "gilroy";
}

.chat__list-item-vip {
  display: none;
  margin-left: 13px;
  width: 17px;
  height: auto;
}

